

<mat-card class="appfilter-card">    
    <mat-card-content>
      <p>Application Filter Applied.</p>
    </mat-card-content>
  </mat-card>
  <div class="wrap">
    <mat-card class="submenu-card">
      <mat-card-header>
        <mat-card-title>Catalog</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-menu #appMenu="matMenu" yPosition="above">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="mainmenu-card">
      <mat-card-header>
        <mat-card-title>
            <h3>
                Test Automation &nbsp; <mat-icon>info</mat-icon>
            </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="enablerId">
              <th mat-header-cell *matHeaderCellDef> Enabler ID </th>
              <td mat-cell *matCellDef="let element"> {{element.enablerId}} </td>
            </ng-container>
          
            <ng-container matColumnDef="enabler">
              <th mat-header-cell *matHeaderCellDef> Enabler </th>
              <td mat-cell *matCellDef="let element"> {{element.enabler}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="points">
              <th mat-header-cell *matHeaderCellDef> Points </th>
              <td mat-cell *matCellDef="let element"> {{element.points}} </td>
            </ng-container>

            <ng-container matColumnDef="tech tree">
                <th mat-header-cell *matHeaderCellDef> Tech Tree </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                      <mat-icon class="mat-18">reorder</mat-icon>
                  </button>
                </td>
              </ng-container>
          
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                      <mat-icon class="mat-18">visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            
          </table>
          
          
      </mat-card-content>
    </mat-card>
  </div>

  